html {
  font-size: 14px;

}
.sidebar{
  font-family: 'Cantata One', serif;
}


.container {
  max-width: 960px;
  font-family: 'Cantata One', serif;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.spec-font{
  font-family: 'Asap', sans-serif;
}

.sign-link{
  margin-left: 10px;
}

.company-name{
  font-family: 'Abril Fatface', cursive;
}


.card-text-homepage{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title-homepage{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a{
  text-decoration:none;
  color: #000;
}
a:hover{
  color: #000;
}


.details-button{
  margin-top: 10px;
}


.fa-icon{
  margin-right: 5px;
}


.search-bar{
  margin-bottom: 10px;
}

.none-heading{
  color: red;
  text-align: center;
}

.img-url{
  margin-top: 10px;
}


.signup-btn{
  margin-top: 10px;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.brand:hover{
  text-decoration:none;
}
